@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Chet Baker</h1>
    <p>Chet Baker Sings</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sIoquPMcG_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<script src="https://code.jquery.com/jquery-2.0.0.js"></script>


<div class='heart animated css'></div>

<h3>Let's get lost</h3>
<div class='heart animated'></div>